@using Manager.WebApp.Helpers;
@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@model Manager.WebApp.Models.ManageRevenueModel

<div class="row mb-4">
    <div class="col-md-12 row">
        <div class="col-md-4">
            <div class="border rounded p-3 text-center">
                <div><span class="fz-20">Tổng doanh thu:</span> <span class="fz-30 text-success text-bold ml-3">@((ViewBag.TotalRevenue).ToString("C0"))</span></div>
                
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="sample-table-1" class="table table-hover table-bordered">
        <thead class="text-nowrap">
            <tr class="sticky-row">
                <th class="text-center" width="3%" style="font-weight: bold;">#</th>
                <th class="text-center" style="font-weight: bold;">@ManagerResource.LB_CREATED_DATE</th>
                <th class="text-center" style="font-weight: bold;">@ManagerResource.LB_USERNAME</th>
                <th class="text-center" style="font-weight: bold;">@ManagerResource.LB_TYPE</th>
                <th class="text-center" style="font-weight: bold;">@ManagerResource.LB_POINT</th>
                <th class="text-center" style="font-weight: bold;">@ManagerResource.LB_PRICE</th>
            </tr>
        </thead>
        <tbody class="text-nowrap">
            @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
            {
                var stt = 0;
                foreach (var record in Model.SearchResults)
                {
                    stt++;
                    string coin = record.Coin <= 0 ? record.Coin.ToString() : string.Format("+{0}", record.Coin);
                    <tr>
                        <td class="text-center">@(stt) </td>
                        <td class="">
                            @record.CreatedDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm")
                        </td>
                        <td class="">
                            @Html.Raw(record.UserName)
                        </td>
                        <td class="">
                            @record.SourceType
                        </td>
                        <td class="">
                            <span class="float-right">@coin</span>
                        </td>
                        <td class="">
                            <span class="text-success float-right">@record.Price.ToString("C0")</span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="11">
                        @ManagerResource.LB_NO_RECORD
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    await RenderPaging();
}
@functions {
    private async Task RenderPaging()
    {
        <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                @if (Model.WasOverRecordsInPage())
                {
                    var html = HtmlHelpers.BootstrapPager(Model.Page, index => Url.Action("Index", "Revenue",
                    new
                    {
                        Page = index,
                        SearchExec = "Y",
                        Keyword = Model.Keyword,
                    }),
                    Model.TotalCount, pageSize: Model.PageSize, numberOfLinks: 10);

                    await Task.FromResult(html);

                    @html
                }

                @if (Model.TotalCount > 0)
                {
                    <div class="m-datatable__pager-info">
                        <span class="m-datatable__pager-detail">
                            @ManagerResource.LB_RECORDS_ALL @Model.TotalCount @ManagerResource.LB_RECORDS @Model.StartCount() 〜 @Model.EndCount(Model.SearchResults.Count())
                        </span>
                    </div>
                }
            </div>
        </div>
    }
}