@using Manager.WebApp.Resources
@using Manager.WebApp.Helpers
@model Manager.WebApp.Models.RegisterViewModel

@{
    ViewBag.Title = ManagerResource.LB_USER_CREATE;
    ViewBag.ParentController = "UsersAdmin";
    ViewBag.ParentAction = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ManagerResource.LB_USER_CREATE
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @await Html.PartialAsync("_Notifications")

                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-12 required-input">
                            @ManagerResource.LB_REQUIRED_INFORMATION
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2 col-form-label">
                            @Html.LabelFor(m => m.UserName, new { @class = "" }) <span class="required-input">*</span>
                        </div>
                        <div class="col-4">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>                      
                    </div>

                    <div class="form-group row">
                        <div class="col-2 col-form-label">
                            @Html.LabelFor(m => m.FullName, new { @class = "" }) <span class="required-input">*</span>
                        </div>
                        <div class="col-4">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-2 col-form-label">
                            @Html.LabelFor(m => m.Password, new { @class = "" }) <span class="required-input">*</span>
                        </div>
                        <div class="col-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-2 col-form-label">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" }) <span class="required-input">*</span>
                        </div>
                        <div class="col-4">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                    
                    <div class="form-group row hidden">
                        <div class="col-2 col-form-label">
                            <label>@ManagerResource.LB_STATUS</label>
                        </div>
                        <div class="col-4">
                            <div class="m-checkbox-inline">
                                <label class="m-checkbox">
                                    <input type="checkbox" name="@Html.NameFor(m=>m.IsActived)" value="true">
                                    @ManagerResource.LB_ACTIVATED
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group pt-3 row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-info btn-sm">
                                <i class="fa fa-floppy-o"></i> @ManagerResource.LB_SAVE
                            </button>
                            <a class="btn btn-outline-info btn-back btn-sm" href="@Url.Action("Index", "UsersAdmin")"><i class="fa fa-backward"></i> @ManagerResource.LB_GOBACK</a>
                        </div>
                        <div class="col-lg-6 m--align-right">
                        </div>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>