@using Manager.WebApp.Helpers;
@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@model Manager.WebApp.Models.CompanyDetailModel


@{
    ViewBag.Title = "Detail";
    ViewBag.HideSubHeader = true;
    ViewBag.ParentController = "Company";
    ViewBag.ParentAction = "Index";

    var imageUrl = CdnHelper.GetFullFilePath(Model.Avatar);
    var totalCount = ViewBag.TotalCount == null ? 0 : ViewBag.TotalCount;
    var currentPage = ViewBag.CurrentPage == null ? 1 : ViewBag.CurrentPage;
    var pagesize = ViewBag.PageSize == null ? 0 : ViewBag.PageSize;
    var contactFormAddLink = SecurityHelper.GenerateSecureLink("Company", "AddContactForm", new { id = ViewBag.OwnerId, companyName = ViewBag.CompanyName });

    //var html = HtmlHelpers.BootstrapPager(currentPage,index => SecurityHelper.GenerateSecureLink("Company", "Detail", new { id = Model.StaffId, currentpage = index, pagesize = @pagesize }), totalCount, pageSize: (int)pagesize, numberOfLinks: 10);
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>

    .tabset > input[type="radio"] {
        position: absolute;
        left: -200vw;
    }

    .tabset .tab-panel {
        display: none;
    }

    .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
    .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
    .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
    .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
    .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
    .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
        display: block;
    }

    /*
                                                         Styling
                                                        */
    .tabset > label {
        position: relative;
        display: inline-block;
        padding: 15px 15px 10px;
        /*border: 1px solid transparent;*/
        cursor: pointer;
        font-weight: 600;
    }

        .tabset > label:focus {
            position: relative;
            display: inline-block;
            padding: 15px 15px 10px;
            /*border: 1px solid transparent;*/
            cursor: pointer;
            font-weight: 600;
        }

    input:focus-visible + label {
        outline: 1px solid rgba(0,102,204,1);
        border-radius: 3px;
    }

    .tabset > label:hover,
    .tabset > input:focus + label,
    .tabset > input:checked + label {
        color: #06586e;
        border-bottom: 1px solid #06586e;
    }

        .tabset > label:hover::after,
        .tabset > input:focus + label::after,
        .tabset > input:checked + label::after {
            background: #06586e;
            border-bottom: 1px solid #06586e;
        }

    .tabset > input:checked + label {
        border-color: #06586e;
    }

    label {
        margin-bottom: -1px !important;
    }

    .tab-panel {
        padding: 30px 0;
        border-top: 1px solid #ccc;
    }

    /*
                                                         Demo purposes only
                                                        */
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

</style>
<div class="modal-header">
    <h5 class="modal-title" id="">
        @ManagerResource.LB_DETAIL
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>

<div class="modal-body p-3" data-size="full">
    <div class="m-portlet__body">
        <div class="tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="information" checked>
            <label style="height:50px;" for="tab1">@ManagerResource.LB_INFORMATION</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="forms">
            <label style="height:50px;" for="tab2"> 入社連絡表一覧</label>

            <div class="tab-panels">
                <section id="information" class="tab-panel">
                    <div class="detail">
                        <div class="">
                            <div class="row info-item">
                                <div class="col-md-2 info-label">
                                    @ManagerResource.LB_AVATAR
                                </div>
                                <div class="col-md-10">
                                    <div>
                                        <a href="javascript:;" title="@ManagerResource.LB_IMAGE" class="logo-sm ml10" style="width:120px;height:70px;">
                                            @if (!string.IsNullOrEmpty(imageUrl))
                                            {
                                                <img class="lazy" data-fancybox="group_@Model.Id" data-src="@imageUrl" src="@imageUrl" data-original="@imageUrl" />
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row info-item">
                                <div class="col-md-2 info-label">
                                    @ManagerResource.COMPANY_FULLNAME
                                </div>
                                <div class="col-md-10">
                                    @Model.FullName
                                </div>
                            </div>
                            <div class="row info-item">
                                <div class="col-md-2 info-label">
                                    @ManagerResource.LB_COMPANY_NAME
                                </div>
                                <div class="col-md-10">
                                    @Model.CompanyName
                                </div>
                            </div>
                            <div class="row info-item">
                                <div class="col-md-2 info-label">
                                    @ManagerResource.LB_PHONE
                                </div>
                                <div class="col-md-10">
                                    @Model.PhoneNumber
                                </div>
                            </div>
                            <div class="row info-item">
                                <div class="col-md-2 info-label">
                                    @ManagerResource.LB_EMAIL
                                </div>
                                <div class="col-md-10">
                                    @Model.Email
                                </div>
                            </div>
                            <div class="row info-item">
                                <div class="col-md-2 info-label">
                                    @ManagerResource.LB_ADDRESS
                                </div>
                                <div class="col-md-10">
                                    @Model.Address
                                </div>
                            </div>
                            <div class="row info-item">
                                <div class="col-md-2 info-label">
                                    @ManagerResource.LB_CREATED_DATE
                                </div>
                                <div class="col-md-10">
                                    @Html.ValueFor(model => model.CreatedDateUtc, "{0:dd/MM/yyyy}")
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <section id="forms" class="tab-panel">
                    <div class="row m-0 mb10 ">
                        <div class="col-lg-6 text-left m-0 p-0">             
                        </div>
                        <div class="col-lg-6 text-right">
                            <a href="@contactFormAddLink" class="btn btn-info btn-sm" data-current="" data-control="" data-modal="">
                                <i class="fa fa-plus"></i> @ManagerResource.LB_ADD_NEW
                            </a>
                            <a class="btn btn-info btn-sm" id="CSVDownloadAll" href="javascript:ExportContactFormByCompanyNameCSV('@ViewBag.CompanyName')" title="@ManagerResource.BT_OUTPUT_CSV">
                                <i class="fa-solid fa-download"></i> @ManagerResource.BT_OUTPUT_CSV
                            </a>
                            <button type="button" class="btn btn-info btn-sm" id="selectedCSVDownload" hidden style="color:white;" title="@ManagerResource.BT_OUTPUT_CSV">
                                <i class="fa-solid fa-download"></i> 選択した項目をCSVファイルに出力
                            </button>
                        </div>
                    </div>
                    <table class="meo-table ">
                        <thead class="text-nowrap">
                            <tr class="sticky-row">
                                <th class="text-center" width="2%"><input type="checkbox" class="childCheckBox" id="bigCheckBox"></th>
                                <th class="text-center" width="3%">#</th>
                                @*<th class="text-center" width="5%">@ManagerResource.LB_CODE</th>*@
                                <th class="text-center">@ManagerResource.LB_COMPANY</th>
                                <th class="text-center">@ManagerResource.LB_FULL_NAME</th>
                                <th class="text-center">@ManagerResource.LB_FULL_NAME_FURIGANA</th>
                                <th class="text-center">@ManagerResource.LB_CREATED_DATE</th>
                                <th class="text-center">@ManagerResource.BT_OUTPUT_CSV</th>
                                <th class="text-center" width="5%"></th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            @if (Model.ContactForm.SearchResults != null && Model.ContactForm.SearchResults.Count > 0)
                            {
                                var stt = 0;
                                foreach (var record in Model.ContactForm.SearchResults)
                                {
                                    stt++;
                                    var delLink = SecurityHelper.GenerateSecureLink("Company", "DeleteCF", new { id = record.FormId });
                                    var contactFormEditLink = SecurityHelper.GenerateSecureLink("Company", "EditContactForm", new { id = record.FormId });
                                    var contactFormDetailLink = SecurityHelper.GenerateSecureLink("ContactForm", "Detail", new { id = record.FormId });

                                    <tr class="listing-item-contactform pointer">
                                        <td class="text-center"><input class="childCheckBox" type="checkbox" name="contactForm" value="@record.FormId"></td>
                                        <td class="text-center">@(stt + (Model.ContactForm.Page - 1) * Model.PageSize) </td>
                                        <td class="text-center">
                                            <input class="DetailLink" value="@contactFormDetailLink" hidden>
                                            @record.CompanyName
                                        </td>
                                        <td class="text-center">
                                            @record.FullName
                                        </td>
                                        <td class="text-center">
                                            @record.Furigana
                                        </td>
                                        <td class="text-center">
                                            @record.CreatedDate.ToShortDateString()
                                        </td>
                                        <td class="text-center">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:ExportEmContactFormByFormIdCSV('@record.FormId')" title="@ManagerResource.BT_OUTPUT_CSV">
                                                <i class="fa-solid fa-download"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" href="@contactFormEditLink" title="@ManagerResource.LB_EDIT">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" href="javascript" data-href="@delLink" data-modal="" title="@ManagerResource.LB_DELETE">
                                                <i class="la la-trash"></i>
                                            </a>
                                        </td>
                                    </tr>


                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="11">
                                        @ManagerResource.LB_NO_RECORD
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    @{
                        await RenderPaging();
                    }
                </section>
            </div>

        </div>


    </div>
</div>
<div class="modal-dialog modal-dialog-centered justify-content-center" role="document" id="modal-load" hidden>
    <span class="fa fa-spinner fa-spin fa-3x"></span>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ImageModal/preview.js"></script>
<script>

    $(".m-datatable__pager-link-number").click(function () {
        $(".modal-content").addClass("sk-loading");
        setTimeout(function () { $("#tab2").click(); }, 500);
        setTimeout(function () { $(".modal-content").removeClass("sk-loading"); }, 1000);
    });
</script>
<script>
    var listFormId = [];

    function IsSelect() {
        if ($(".childCheckBox:checked").length > 0) {
            $("#selectedCSVDownload").prop("hidden", false);
            $("#CSVDownloadAll").prop("hidden", true);
        } else {
            $("#CSVDownloadAll").prop("hidden",false);
            $("#selectedCSVDownload").prop("hidden", true);
        }
    }
    $("#bigCheckBox").click(function () {
        $(".childCheckBox").prop("checked", $(this).prop("checked"));
        listFormId = []
        $("input:checkbox[name='contactForm']:checked").each(function () {
            listFormId.push($(this).val());
        });
        IsSelect();
    });
    $(".childCheckBox").click(function () {
        var isDisabled = true;
        $(".childCheckBox:checked").each(function () {
            isDisabled = false;
        });
        $("#selectedCSVDownload").prop("disabled", isDisabled);

        listFormId = []
        $("input:checkbox[name='contactForm']:checked").each(function () {
            listFormId.push($(this).val());
        });
        IsSelect();
    });
    $("#selectedCSVDownload").click(function () {
        if (listFormId.length > 0) {
            ExportContactFormByListFormIdCSV(listFormId);
        }
    });
</script>
<script>
    $(".listing-item-contactform").click(function (ev) {
        var targetClass = ev.target.className;
        var tagName = ev.target.tagName.toLowerCase();
        if (tagName === "a" || tagName === "i" || tagName === "img" || targetClass == "childCheckBox") {
            return true;
        }
        else {
            ev.preventDefault();

            var link = document.createElement('a');
            link.href = $(this).find(".DetailLink").val();
            document.body.appendChild(link);
            link.click();

            return false;
        }
    });
</script>
@functions {
    private async Task RenderPaging()
    {
        <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                @if (Model.ContactForm.WasOverRecordsInPage())
                {
                    var html = HtmlHelpers.BootstrapPager(Model.ContactForm.Page, index => Url.Action("Detail", "Company",
                    new
                    {
                        Page = index,
                        SearchExec = "Y",
                        Keyword = Model.Keyword,
                    }),
                    Model.ContactForm.TotalCount, pageSize: Model.ContactForm.PageSize, numberOfLinks: 10);

                    await Task.FromResult(html);

                    @html
                }

                @if (Model.ContactForm.TotalCount > 0)
                {
                    <div class="m-datatable__pager-info">
                        <span class="m-datatable__pager-detail">
                            @ManagerResource.LB_RECORDS_ALL @Model.ContactForm.TotalCount @ManagerResource.LB_RECORDS @Model.ContactForm.StartCount() 〜 @Model.ContactForm.EndCount(Model.ContactForm.SearchResults.Count())
                        </span>
                    </div>
                }
            </div>
        </div>
    }
}
<script>
    var listPage = $(".m-datatable__pager-link-number");
    listPage.each(function (index, value) {
        let link = value;
        let oldHref = link.href;
        link.removeAttribute('href');
        link.setAttribute("data-href", oldHref);
        link.setAttribute("data-modal", " ");
    });
</script>