@using MainApi.DataLayer.Entities;
@using Manager.WebApp.Resources
@using Manager.WebApp.Helpers
@using Manager.SharedLibs
@model Manager.WebApp.Models.CompanyViewModel

@{
    ViewBag.Title = "Company manage";
    var addLink = SecurityHelper.GenerateSecureLink("Company", "AddCompany", null);

}

@await Html.PartialAsync("_Notifications")

@await Html.PartialAsync("../Widgets/Modals/_DefaultModal")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .pointer:hover {
        cursor: pointer;
        background-color:brown;
    }    
</style>
<div class="m-portlet m-portlet--collapse" m-portlet="true" id="FormSearchTool">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-search"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    @ManagerResource.LB_SEARCH
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="javascript:;" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @await Html.PartialAsync("Partials/_SearchForm", Model)
</div>

<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row mb10">
            <div class="col-lg-12 text-right">
                <a data-href="@addLink" class="btn btn-info btn-sm" data-current="" style="color:white;" data-control="" data-modal="">
                    <i class="fa fa-plus"></i> @ManagerResource.LB_ADD_NEW
                </a>
            </div>
        </div>
        <div class="m-section">
            <div class="m-section__content table-responsive">
                <div class="sticky-table sticky-headers sticky-ltr-cells">
                    <table id="sample-table-1" class="table table-hover table-bordered">
                        <thead class="text-nowrap">
                            <tr class="sticky-row">
                                <th class="text-center" width="3%">#</th>
                                @*<th class="text-center" width="5%">@ManagerResource.LB_CODE</th>*@
                                <th class="text-center">@ManagerResource.LB_COMPANY_NAME</th>
                                <th class="text-center">@ManagerResource.LB_EMAIL</th>
                                <th class="text-center">@ManagerResource.LB_PHONE</th>
                                <th class="text-center">@ManagerResource.LB_CONTACT_FORM</th>
                                <th class="text-center" width="5%"></th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            @if (Model.SearchResult != null && Model.SearchResult.Count > 0)
                            {
                                var stt = 0;
                                foreach (var record in Model.SearchResult)
                                {
                                    stt++;
                                    var editLink = SecurityHelper.GenerateSecureLink("Company", "Edit", new { id = record.CompanyId });
                                    var delLink = SecurityHelper.GenerateSecureLink("Company", "Delete", new { id = record.CompanyId });
                                    var contactFormViewLink = SecurityHelper.GenerateSecureLink("Company", "ViewContactFormRelated", new { companyName = record.CompanyName });
                                    var dtLink = SecurityHelper.GenerateSecureLink("Company", "Detail", new { id = record.CompanyId, currentpage = 1 });
                                    var imageUrl = CdnHelper.GetFullFilePath(record.Avatar);

                                    <tr class="listing-item pointer" data-detail="@dtLink">
                                        <td class="text-center">@(stt + (Model.Page - 1) * Model.PageSize) </td>
                                        <td>
                                            <div class="display-flex">
                                                <div>

                                                    <a href="javascript:;" title="@ManagerResource.LB_IMAGE" class="logo-sm ml10" style="width:60px;height:50px;">
                                                        @if (!string.IsNullOrEmpty(imageUrl))
                                                        {
                                                            <img class="lazy" data-fancybox="group_@record.Id" data-src="@imageUrl" src="@imageUrl" data-original="@imageUrl" />
                                                        }
                                                    </a>
                                                </div>

                                                <div class="ml5 pt15">
                                                    @record.FullName
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            @record.Email
                                        </td>
                                        <td class="text-center">
                                            @record.PhoneNumber                                            
                                        </td>
                                        <td class="text-center">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" data-modal="" data-href="@contactFormViewLink" title="@ManagerResource.LB_VIEW_DETAIL">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>                                                                                       
                                        </td>
                                        <td class="text-center">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" data-href="@editLink" data-modal="" title="@ManagerResource.LB_EDIT">
                                                <i class="la la-pencil"></i>
                                            </a>
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" href="javascript" data-href="@delLink" data-modal="" title="@ManagerResource.LB_DELETE">
                                                <i class="la la-trash"></i>
                                            </a>
                                        </td>
                                    </tr>


                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="11">
                                        @ManagerResource.LB_NO_RECORD
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            @{
                await RenderPaging();
            }

        </div>
    </div>
</div>
<div hidden id="newtempEmExportCSV"></div>
<div hidden id="tempExportCSV"></div>

@functions {
    private async Task RenderPaging()
    {
        <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                @if (Model.WasOverRecordsInPage())
                {
                    var html = HtmlHelpers.BootstrapPager(Model.Page, index => Url.Action("Index", "Company",
                    new
                    {
                        Page = index,
                        SearchExec = "Y",
                        Keyword = Model.Keyword,
                    }),
                    Model.TotalCount, pageSize: Model.PageSize, numberOfLinks: 10);

                    await Task.FromResult(html);

                    @html
                }

                @if (Model.TotalCount > 0)
                {
                    <div class="m-datatable__pager-info">
                        <span class="m-datatable__pager-detail">
                            @ManagerResource.LB_RECORDS_ALL @Model.TotalCount @ManagerResource.LB_RECORDS @Model.StartCount() 〜 @Model.EndCount(Model.SearchResult.Count())
                        </span>
                    </div>
                }
            </div>
        </div>
    }
}
@section PageInlineScripts{
    <script>
        $(".listing-item").click(function (ev) {
            var tagName = ev.target.tagName.toLowerCase();
            if (tagName === "a" || tagName === "i" || tagName === "img") {
                return true;
            }
            else {
                ev.preventDefault();

                var link = document.createElement('a');
                link.href = "javascript:;";
                link.setAttribute("data-modal", "");
                link.setAttribute("data-href", $(this).data("detail"));
                document.body.appendChild(link);
                link.click();

                return false;
            }
        });       
    </script>
    <script>
        function tableToCSV($table, fileName) {
            // Variable to store the final csv data
            var csv_data = [];

            // Get each row data
            var rows = $table.find('tr:has(td),tr:has(th)');
            for (let i = 0; i < rows.length; i++) {

                var cols = rows[i].querySelectorAll('td,th');

                var csvrow = [];
                for (let j = 0; j < cols.length; j++) {
                    csvrow.push(cols[j].innerHTML);
                }

                csv_data.push(csvrow.join(","));
            }

            csv_data = csv_data.join('\n');
            downloadCSVFile(csv_data, fileName);
        }
        function downloadCSVFile(csv_data, fileName) {
            const bom = new Uint8Array([0xEF, 0xBB, 0xBF]);
            CSVFile = new Blob([bom, csv_data], {
                type: "text/csv"
            });

            var temp_link = document.createElement('a');

            // Download csv file
            temp_link.download = fileName + ".csv";
            var url = window.URL.createObjectURL(CSVFile);
            temp_link.href = url;

            // This link should not be displayed
            temp_link.style.display = "none";
            document.body.appendChild(temp_link);

            // Automatically click the link to
            // trigger download
            temp_link.click();
            document.body.removeChild(temp_link);
        }
    </script>
    <script>
        function ExportContactFormByListFormIdCSV(listFormId) {
            $.aPost("Company/ExportCSVByListFormId", { listFormId: listFormId }, function (result) {
                if (result.success) {
                    var fileName = "_ListContactForm";
                    let parser = new DOMParser();
                    const doc = parser.parseFromString(result.html, 'text/html');
                    $("#newtempEmExportCSV").html(doc.body.innerHTML);
                    tableToCSV($("#newtempEmExportCSV"), fileName);
                } else {
                    $.showErrorMessage('Download CSV File', "Download CSV File Fail!", null);
                }
            });
        }
        function ExportEmContactFormByFormIdCSV(formId) {
            var values = {
                formId: formId
            };
            //console.log(values);
            $.aGet("Company/ExportCSVByFormId", values, function (result) {
                if (result.success) {
                    var fileName = "_CompanyContactForm";
                    let parser = new DOMParser();
                    const doc = parser.parseFromString(result.html, 'text/html');
                    $("#newtempEmExportCSV").html(doc.body.innerHTML);
                    tableToCSV($("#newtempEmExportCSV"), fileName);
                } else {
                    $.showErrorMessage('Download CSV File', "Download CSV File Fail!", null);
                }
            });
        }
        function ExportContactFormByCompanyNameCSV(companyName) {
            var values = {
                companyName: companyName
            };
            //console.log(values);
            $.aGet("Company/ExportCSVByCompanyName", values, function (result) {
                if (result.success) {
                    var fileName = companyName + "_ContactForm";
                    let parser = new DOMParser();
                    const doc = parser.parseFromString(result.html, 'text/html');
                    $("#tempExportCSV").html(doc.body.innerHTML);
                    tableToCSV($("#tempExportCSV"), fileName);
                } else {
                    $.showErrorMessage('Download CSV File', "Download CSV File Fail!", null);
                }
            });
        }
    </script>
}