@model Manager.WebApp.Models.AccessViewModel
@using Manager.WebApp.Resources
@{
    ViewBag.Title = "Access management";
}

@Html.Partial("_Notifications")

<!-- modal placeholder-->
<div id='frmUpdate' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <h5 class="modal-title" id="">
                        Access information
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("Create", "Access", FormMethod.Post, new { role = "form" }))
                    {
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.AccessId, new { id = "AccessId" })
                                    <label>Access name (Controller) </label>
                                    <select id="txtName" name="@Html.NameFor(m=>m.AccessName)" class="form-control">
                                        @if (Model.AllControllers != null && Model.AllControllers.Count > 0)
                                        {
                                            foreach (var item in Model.AllControllers)
                                            {
                                                bool checkIsExist = false;
                                                foreach (var itemaccess in Model.AllAccess)
                                                {
                                                    if (item == itemaccess.AccessName)
                                                    {
                                                        checkIsExist = true;
                                                        break;
                                                    }
                                                }
                                                //if (!checkIsExist)
                                                {
                                                    <option>@item</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Desc</label>
                                    @Html.TextBoxFor(m => m.AccessDesc, new { id = "txtDesc", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info btn-sm">
                                <i class="fa fa-floppy-o"></i> @ManagerResource.LB_SAVE
                            </button>
                            <button class="btn btn-outline-info btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> @ManagerResource.LB_CANCEL</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal placeholder-->
@await Html.PartialAsync("~/Views/Widgets/Modals/_LargeModal.cshtml")

<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" onclick="UpdateData('create','0')" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Create access</button>
            </div>
        </div>

        <div class="row mt10">
            <div class="col-md-12">
                <table id="sample-table-1" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" width="3%">#</th>
                            <th class="text-center">Access name (Controller)</th>
                            <th class="text-center">Desc</th>
                            <th class="text-center" width="10%">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.AllAccess != null && Model.AllAccess.Count > 0)
                        {
                            var count = 0;
                            foreach (var record in Model.AllAccess)
                            {
                                count++;
                                <tr>
                                    <td class="text-center">@count</td>
                                    <td>@record.AccessName</td>
                                    <td>
                                        <div>@record.Description</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <input type="hidden" id="hdName_@record.Id" value="@record.AccessName" />
                                            <a class="main-color btn btn-sm btn-info" href="#" onclick="ShowAccessLang('@record.Id');" title="@ManagerResource.LB_MULTI_LANGUAGES">
                                                <i class="ace-icon fa fa-language bigger-130" data-id="@record.Id"></i>
                                            </a>
                                            <button class="btn btn-sm btn-info" onclick="UpdateData('edit','@record.Id', '@record.Description')">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </button>

                                            <a class="btn btn-sm btn-danger" href="javascript:;" data-size="default" data-href="@Url.Action("DeleteAccess", "Access", new { id = record.Id })" data-modal="" title="Delete this access">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@section PageInlineStyles
    {
    <style>
    </style>
}

@section PagePluginScripts
    {

}


@section PageInlineScripts
    {
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        function UpdateData(action, id, desc) {
            if (action === 'create') {
                $("#frmUpdateLabel").html("Create new access");
                $("#frmUpdate form").attr("action", "/Access/Create");
                $("#txtDesc").val("");
                $("#AccessId").val("");
            }
            else {
                $("#frmUpdate form").attr("action", "/Access/Update");
                $("#frmUpdateLabel").html("Edit access");
                $("#txtName").val($("#hdName_" + id).val());
                $("#txtDesc").val(desc);
                $("#AccessId").val(id);
            }

            $('#frmUpdate').modal('show');
        }

        function ShowAccessLang(id) {
            $.ajax({
                url: 'Access/ShowAccessLang',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result) {
                        $("#myModalContent").html(result);
                        $('body').addClass('modal-open');
                        $('.modal-backdrop').show();
                        $('#myModal').modal('show');
                        $('.selectpicker').selectpicker({ style: "btn-default" });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var responseTitle = "Error encountered"
                    $.showErrorMessage('Error message', $(responseTitle).text() + "\n" + formatErrorMessage(jqXHR, errorThrown), function () { });
                }
            });
        }
    </script>
}

