@using Manager.WebApp.Helpers;
@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@model Manager.WebApp.Models.LinkSettingDetailModel

@{
    ViewBag.Title = "Detail";
    ViewBag.HideSubHeader = true;
    ViewBag.ParentController = "LinkSetting";
    ViewBag.ParentAction = "Index";

    var imageUrl = CdnHelper.GetFullFilePath(Model.CoverImage);
}

<div class="modal-header">
    <h5 class="modal-title" id="">
        @ManagerResource.LB_DETAIL
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>
<div class="modal-body" data-size="full">
    <div class="m-portlet__body">
        <div class="detail">
            <div class="">
                <div class="row info-item">
                    <div class="col-md-2 info-label">
                        @ManagerResource.LB_COVER_IMAGE
                    </div>
                    <div class="col-md-10">
                        <div>
                            <a href="javascript:;" title="@ManagerResource.LB_IMAGE" class="logo-sm ml10" style="width:120px;height:70px;">
                                @if (!string.IsNullOrEmpty(imageUrl))
                                {
                                    <img class="lazy" data-fancybox="group_@Model.Id" data-src="@imageUrl" src="@imageUrl" data-original="@imageUrl" />
                                }
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row info-item">
                    <div class="col-md-2 info-label">
                        Setting Name
                    </div>
                    <div class="col-md-10">
                        @Model.SettingName
                    </div>
                </div>
                <div class="row info-item">
                    <div class="col-md-2 info-label">
                        @ManagerResource.LB_LINK
                    </div>
                    <div class="col-md-10">
                        @Model.Link
                    </div>
                </div>

                <div class="row info-item">
                    <div class="col-md-2 info-label">
                        Type
                    </div>
                    <div class="col-md-10">
                        @(Model.Type ? "Image" : "URL")
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ImageModal/preview.js"></script>