@using System.Web
@using Manager.WebApp.Resources
@using Manager.WebApp.Helpers
@using Manager.SharedLibs
@using MainApi.DataLayer.Entities
@model Manager.WebApp.Models.ManageContactFormModel

@{
    ViewBag.Title = ManagerResource.LB_CONTACT_FORM;
    ViewBag.ParentController = "Employee";
    ViewBag.ParentAction = "Index";
    var contactFormAddLink = SecurityHelper.GenerateSecureLink("Employee", "AddContactForm", new { id = Model.SearchResults.FirstOrDefault().OwnerId });
}
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("../Widgets/Modals/_DefaultModal")
@await Html.PartialAsync("_Notifications")

<div class="modal-header">
    <h5 class="modal-title" id="">
        @ManagerResource.LB_CONTACT_FORM
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>
<div class="modal-body" data-size="full">
    <div class="m-portlet__body">
        <div class="row mb10">
            <div class="col-lg-12 text-right">
                <a href="@contactFormAddLink" class="btn btn-info btn-sm" data-current="" data-control="" data-modal="">
                    <i class="fa fa-plus"></i> @ManagerResource.LB_ADD_NEW
                </a>
            </div>
        </div>
        <table id="sample-table-1" class="table table-hover table-bordered">
            <thead class="text-nowrap">
                <tr class="sticky-row">
                    <th class="text-center" width="3%">#</th>
                    @*<th class="text-center" width="5%">@ManagerResource.LB_CODE</th>*@
                    <th class="text-center">@ManagerResource.LB_COMPANY</th>
                    <th class="text-center">@ManagerResource.LB_FULL_NAME</th>
                    <th class="text-center">@ManagerResource.LB_FULL_NAME_FURIGANA</th>
                    <th class="text-center">@ManagerResource.LB_CREATED_DATE</th>
                    <th class="text-center" width="5%"></th>
                </tr>
            </thead>
            <tbody class="text-nowrap">
                @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                {
                    var stt = 0;
                    foreach (var record in Model.SearchResults)
                    {
                        stt++;
                        var delLink = SecurityHelper.GenerateSecureLink("Employee", "DeleteCF", new { id = record.FormId });
                        var contactFormEditLink = SecurityHelper.GenerateSecureLink("Employee", "EditContactForm", new { id = record.FormId });

                        <tr class="listing-item pointer">
                            <td class="text-center">@(stt + (Model.Page - 1) * Model.PageSize) </td>
                            <td class="text-center">
                                @record.CompanyName
                            </td>
                            <td class="text-center">
                                @record.FullName
                            </td>
                            <td class="text-center">
                                @record.Furigana
                            </td>
                            <td class="text-center">
                                @record.CreatedDate.ToShortDateString()
                            </td>
                            <td class="text-center">
                                <a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" href="@contactFormEditLink" title="@ManagerResource.LB_EDIT">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" href="javascript" data-href="@delLink" data-modal="" title="@ManagerResource.LB_DELETE">
                                    <i class="la la-trash"></i>
                                </a>
                            </td>
                        </tr>


                    }
                }
                else
                {
                    <tr>
                        <td colspan="11">
                            @ManagerResource.LB_NO_RECORD
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<style>
    .resizable {
        resize: vertical !important;
    }
</style>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ImageModal/preview.js"></script>