@using System.Globalization
@using Manager.WebApp.Helpers 
@using Manager.WebApp.Settings

@{ 
    var hasLoggedIn = User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/images/favicon-32x32.png" />
    <link rel="shortcut icon" href="~/Content/images/favicon-32x32.png" type="image/x-icon">

    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="~/Scripts/Common/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Web font -->
    <!--begin::Base Styles -->

    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/assets/demo/default/base/style.bundle.css" rel="stylesheet" />
    @*<link href="~/Content/Icons/boxicons.min.css" rel="stylesheet" />*@

    <!--end::Base Styles -->

    <link href="~/Content/Site.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/Content/Page/Common/table-input.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Scripts/Plugins/Fancybox/css/fancybox.min.css" rel="stylesheet" />

    @*<!-- bootstraptable style-->*@
    <link href="~/Content/Extensions/bootstraptable/bootstrap-table-fixed-columns.min.css" rel="stylesheet"/>
    <link href="~/Content/Extensions/bootstraptable/bootstrap-table.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="~/Content/newform.css">
    <link href="~/Content/Extensions/table-sticky/table-sticky.css" rel="stylesheet" />
     <link href="~/Content/Extensions/plyr/plyr.min.css" rel="stylesheet" />
    <link href="~/Content/Page/Common/video-player.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/tooltip.css" rel="stylesheet" />

    <style type="text/css">
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('/Content/Common/rocket.gif') 50% 10% no-repeat white;
        }
    </style>

    @await Html.PartialAsync("~/Views/Widgets/Modals/_PlayerModal.cshtml")


    <!-- page inline plugin styles -->
    @RenderSection("PagePluginStyles", required: false)

    @RenderSection("PageInlineStyles", required: false)
</head>
<!-- end::Head -->
<!-- end::Body -->

@{ 
    var hideLeftMenu = false;
    if(ViewBag.HideLeftMenu != null) {
        hideLeftMenu = ViewBag.HideLeftMenu;
    }
}
<body class="m-page--fluid @CommonHelpers.GetCurrentLanguageOrDefault() m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--fixed m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default @(hideLeftMenu ? "m-brand--minimize m-aside-left--minimize" : string.Empty)">
    <div class="loader hidden"></div>
    
    <div class="page-loading">
        <img src="/Content/images/loader.gif" />
    </div>

    <div class="common-loading">
        <div class="lds-css"><div style="width:100%;height:100%;" class="lds-ripple"><div></div><div></div></div></div>
    </div>

    <div class="common-loading-item">
        <div class="lds-css"><div style="width:100%;height:100%;" class="lds-ripple"><div></div><div></div></div></div>
    </div>

    <!-- begin:: End File Browser -->
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        @Html.Partial("_NavigationBar")

        <!-- END: Header -->
        <!-- begin::Body -->

        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-body">
            <!-- BEGIN: Left Aside -->

            @Html.Partial("_LeftSideBar")

            <!-- END: Left Aside -->
            @*m-wrapper*@
            <div class="m-grid__item m-grid__item--fluid">
                <!-- BEGIN: Subheader -->
                @*@if (ViewBag.HideSubHeader == null)
                    {
                        @Html.Partial("_SubHeader")
                    }*@
                <!-- END: Subheader -->
                <div class="m-content">
                    <!--Begin::Section-->
                    @RenderBody()
                    <!--End::Section-->
                </div>
            </div>
        </div>

        <!-- end:: Body -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>

    <!--begin::Base Scripts -->
    <script class="RemovalScripts">
        var LanguageDic = [];
        var SelectedObjects = [];
        var CurrentVersion = "@SystemSettings.CurrentVersion";
        var CurrentLang = "@CultureInfo.CurrentUICulture";

         @{
	        var tkCKey = CommonHelpers.GetVersionToken();
	        var _frmStk = CommonHelpers.GetCookie(tkCKey);
	        if (string.IsNullOrEmpty(_frmStk))
	        {
		        var stk = EpochTime.GetIntDate(DateTime.Now).ToString();
		        _frmStk = stk;

		        //Storage in 1 week
		        CommonHelpers.SetCookie(tkCKey, stk, 10080);

		        _frmStk = CommonHelpers.GetCookie(tkCKey);
	        }
        }

        var JZ_VSTK = "@_frmStk";       
    </script>

    <script src="~/assets/vendors/base/vendors.bundle.js"></script>
    <script src="~/assets/demo/default/base/scripts.bundle.js"></script>
    <script src="~/Scripts/Plugins/bootbox.js"></script>
    <script src="~/Scripts/Common/common.modalform.js" asp-append-version="true"></script>
    <script src="~/Scripts/Common/common.core.js" asp-append-version="true"></script>
    <script src="~/Scripts/Common/common.notifications.js" asp-append-version="true"></script>

    <script src="~/Scripts/Plugins/Fancybox/js/fancybox.min.js"></script>

     @*bootstraptable script*@
    @*<script src="~/Content/Extensions/bootstraptable/bootstrap-table-fixed-columns.min.js"></script>*@
    <script src="~/Content/Extensions/bootstraptable/bootstrap-table.min.js"></script>

    <script src="~/Content/Extensions/plyr/plyr.polyfilled.js"></script>
    <script src="~/Scripts/Common/video-player.js" asp-append-version="true"></script>

    <!--end::Base Scripts -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @if (!hideLeftMenu)
    {
        <script>
            var current = Cookies.get("sidebar_toggle_state");
            if (current == "on") {
                $("body").addClass("m-brand--minimize m-aside-left--minimize");
                $("#m_aside_left_minimize_toggle").addClass("m-brand__toggler--active");
            }
            else {
                $("body").removeClass("m-brand--minimize m-aside-left--minimize");
                $("#m_aside_left_minimize_toggle").removeClass("m-brand__toggler--active");
            }

            $("#m_aside_left_minimize_toggle").length && (l = new mToggle("m_aside_left_minimize_toggle", {
                target: "body",
                targetState: "m-brand--minimize m-aside-left--minimize",
                togglerState: "m-brand__toggler--active"
            })).on("toggle", function (e) {
                Cookies.set("sidebar_toggle_state", e.getState())
            })
        </script>
    }

    <!--end::Page Snippets -->
    <!-- plugin scripts related to this page -->
    @RenderSection("PagePluginScripts", false)

    <!-- inline scripts related to this page -->
    @RenderSection("PageInlineScripts", false)

    <script>
        $(function () {
            changeLocalTimezone();

            var title = $(".CurrentPageTitle").html();
            if (title !== "" && title !== null) {
                document.title = title;
            }

            MySiteGlobal.bindModalLoading();

            $("textarea").each(function () {
                autosize($(this));
                autosize.update($(this));
            });

            //setInterval(function () {
            //    $.aPost("/Event/CheckEventSendingFinished", null, function (result) {
            //        if (result.success) {
            //            $.showToastMessage(result.info,'Thông báo')
            //        }
            //    });

            //}, 10000);

            $.fn.myLazyLoad = function () {
                this.lazyload({
                    effect: "fadeIn"
                });
            };

            $.fancybox.defaults.animationEffect = "fade";
        })
    </script>

    @if (User.Identity.IsAuthenticated)
    {
        var isProduction = (1 == 1 || SystemSettings.Environment == "production" || SystemSettings.Environment == "testing");

        <script src="~/Scripts/Common/site-global.js" asp-append-version="true"></script>
        if (isProduction)
        {
            <script>
                $(function () {
                    AuthenticatedGlobal.getNotifCounter();

                    setInterval(function () {
                        AuthenticatedGlobal.getNotifCounter();
                    }, 30000);
                });
            </script>

        }
    }
</body>
<!-- end::Body -->
</html>